
/* CSS DU MENU POUR VERSION MOBILE*/
#menu {
	margin-top: 15%;
    margin-left: -6%;;
    font-size: larger;
    height: 200px;
    width: 10%;
    padding-left: -3%;
    padding-top: 20%;
    position: absolute;
    background: white;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}

#menu_bar {
	margin-left:50%;
	margin-top: -200%;
	position: relative;
}

/* FIN CSS DU MENU POUR VERSION MOBILE*/


/* CSS DU FORMULAIRE DE CONTACT POUR VERSION PC*/
#contact_form {
	display: none;
	text-decoration: none;
	background: grey;
	width: 156px;
}

#contact_form textarea{
	width: 100%;
	height: 100px;
	border: none;
}

#mail{
	height:20px;
	width: 100%;
	border: none;
	margin-bottom: 3px;
	margin-top: 5px;
}

#btn_envoie_contact {
	width: 100%;
}

/* FIN CSS DU FORMULAIRE DE CONTACT POUR VERSION PC*/



/* CSS DU FORMULAIRE DE CONTACT POUR MOBILE PC*/
#barre_mobile_detaillee {
	border: 1px solid black;
	width: 150px;
	display: block;
	text-align: center;
}

#barre_mobile_detaillee a{
	color: orange;
}

#tel_barre_mobile_detaillee{
	padding-left: 25%;
	padding-right: 25%;
}
/* FIN CSS DU FORMULAIRE DE CONTACT POUR VERSION MOBILE*/