
body{
	background-color: #f4f4f4;
	margin: 0;
	font-family: 'Muli', sans-serif;
}

h1
{
	text-align: center;
	display: flex;
	width: 30%;
	justify-content: center;
	color: white;

}
.titre
{
	display: flex;
	justify-content: center;
	background-color: #ff9a00;
	font-size: 3em;

}

/* CSS DU FORMULAIRE DE CONTACT POUR MOBILE PC*/
#barre_mobile_detaillee {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 5em;
	margin-top: 3%;
}

#barre_mobile_detaillee a{
	color: #FF9A00;
}

#tel_barre_mobile_detaillee{
	padding-left: 25%;
	padding-right: 25%;
}
/* FIN CSS DU FORMULAIRE DE CONTACT POUR VERSION MOBILE*/





/* CSS DU MENU POUR VERSION MOBILE*/

#menu {
	padding-left: 1%;
    margin-left: -27%;
    font-size: 4em;
    height: 100%;
    width: 30%;
    position: absolute;
    background: white;
    border-radius:0px 23px 20px 0px;
    display: flex;
    flex-direction: column;
    background-color: #ff9a00;
	color:white;    
}

#menu_bar {
	margin-left: 90%;
	margin-top: -50%;
	position: relative;
	transform: rotate(90deg);
	
}

#home {
	margin-bottom: 10%;	
	color: white;
}

#menu_tel {
	margin-top: 10%;
	width: 45%;

}

/* FIN DU MENU POUR VERSION MOBILE*/






.testFlex
{
	display: flex;
}



/* CSS CORPS ANNONCE DETAILLEE */

.annonce {
	padding-left: 7%;
	padding-top: 5%;
}

#a_box_annonce{
	text-decoration: none;
	color: black;
	font-size: 1em;
}

.img_entreprise_detaillee {
	width:20%;
	height: 30%;
	margin-left: 30%;
}


.site_annonce{
	margin-left: 20%;
}

.site_annonce i{
	padding-right: 5%;	
}


.box_annonces {
	display: flex;
	width: 94%;
	margin-left: 6%;
	border-bottom: 3px solid black; 
	background: white;
	font-size: 2.5em;
	color: black;
}

.box_annonce:visited {
	text-decoration: none;
}

.box_annonces h2{
	margin-right: 5%;
}

.box_annonces img{
	margin-right: 5%;
	height:100%;
	margin-top: 3%;
	width: 20%;
}

/* FIN CORPS ANNONCE DETAILLEE */



/* CSS CV */

.cv img{
	padding-top: 5%;
	padding-left: 13%;
	width: 75%;
	height: 75%;
	display:flex;
}

.contenant_cv {
	display:flex;
}

.cv {
	display: flex;
	border: solid 1px black;
	flex-direction: column;
}


.map {
	width: 85%;
	padding-left: 14%;
	padding-top: 2%;
}


/* FIN CSS CV */



footer {
	text-align: center;
	font-size: 4em;
}

footer i{
	margin: 5%;
	color: #ff9a00;
}
.tailleTexte
{
	font-size: 0.5em;
}
h2
{
	font-size: 0.7em;
}










